

.home {
  // reset layout wrap for the homepage, need this full width
  .panel-content .wrap {
    max-width: 100%;
  }
}

.twentyseventeen-panel .container-inner,
.twentyseventeen-panel {
  max-width: 820px;
}

.twentyseventeen-panel {
  margin-top: 2rem;

}

.twentyseventeen-panel:first-child {
  margin-top: 2rem;
}

// In our case these are the Sponsors that need a bit more space
.twentyseventeen-panel:last-child {
  max-width: 70%;
}


/* Front Page - Recent Posts */
.panel-content .recent-posts .entry-header {
  margin-bottom: 1.5em;
}

.page .panel-content .recent-posts .entry-title {
  font-size: 28px;
  font-size: 1.6rem;
}


/* ROWS */

.row-full-width {
  margin-left: -100%;
  margin-right: -100%;
}