
/* Typography */
body, button, input, select, textarea {
  font-size: 18px;
  font-size: 1.1rem;
  line-height: 1.8;
}

button, input, select, textarea {
  font-size: 16px;
  font-size: 1rem;
}

.entry-content blockquote.alignleft, .entry-content blockquote.alignright {
  font-size: 13px;
  font-size: .8125rem;
}
