.button,
a.button,
button,
input[type="button"],
input[type="submit"],
.tix-js form input[type="submit"] {
  background-color: $btn-background;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.8em 1.5em;

  text-shadow: none;
  text-decoration: none !important;

  transition: background .2s;
  &:hover {
    background: $btn-background-hover;
  }
}

input + button {
  padding: .75em 2em;
}

input + input[type="button"], input + input[type="submit"] {
  padding: .75em 2em;
}

button.secondary {
  background-color: #ddd;
  color: #222;
}

input[type="reset"], input[type="button"].secondary, input[type="reset"].secondary, input[type="submit"].secondary {
  background-color: #ddd;
}

button:hover, button:focus {
  background: #c02942;
}


button.secondary:hover, button.secondary:focus {
  background: #bbb;
}

input[type="reset"]:hover, input[type="reset"]:focus {
  background: #bbb;
}

input[type="button"].secondary:hover, input[type="button"].secondary:focus {
  background: #bbb;
}

input[type="reset"].secondary:hover, input[type="reset"].secondary:focus {
  background: #bbb;
}

input[type="submit"].secondary:hover, input[type="submit"].secondary:focus {
  background: #bbb;
}


a.button {
  padding: 7px 25px;
  transition: all .3s ease 0;
  position: relative;
  overflow: hidden;
}

a.button:after {
  display: block;
  content: '';
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  top: 100%;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 20%;
  background: #fff;
  opacity: .2;
  -webkit-transition: all .21s ease-in-out;
  -moz-transition: all .21s ease-in-out;
  -o-transition: all .21s ease-in-out;
  transition: all .21s ease-in-out;
}

a.button:hover,
a.button:active {

  text-shadow: none;
  color: #fff;
}

a.button:hover:after,
a.button:active:after {
  top: -850%;
}

a.button-yellow {
  background: $yellow;
}

a.btn-red {
  background: $red;
}

a.btn-red:hover,
a.btn-red:focus {
  color: #fff;
}