/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/
a {
  color: $green;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: $blue;
  text-decoration: underline;
}
a:focus {
  outline: 1;
}

.edit-link {
  display: none;
}

.comment-metadata a {
  -webkit-box-shadow: inset 0 -1px 0 white;
}

.comment-metadata a.comment-edit-link {
  -webkit-box-shadow: inset 0 -1px 0 white;
}

.comment-reply-link:focus, .comment-reply-link:hover {
  color: #000;
}

.pagination a:not(.prev):not(.next):focus, .pagination a:not(.prev):not(.next):hover {
  color: #000;
}
