/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/
.navigation-top {
  background: #18883C;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
}

.navigation-top .wrap {
  max-width: 1170px;
  padding: 0;
}

.main-navigation {
  display: flex;
  justify-content: center;
}

.main-navigation a {
  color: #fff;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  padding: .75em 2.05em;
  display: block;
  text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active,
.main-navigation li:hover > a,
.main-navigation li:focus > a {
  color: #fff;
  background: #4e4e4e;
  text-decoration: underline;
}


.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a,
.main-navigation .current-menu-parent > a,
.main-navigation .current_page_parent > a {
  color: #fff;
  background: $greendark;
  font-weight: 700;
}


.main-navigation {
  clear: both;
  display: block;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-navigation li {
  border-bottom: 1px solid #eee;
  position: relative;
  //padding: .75em 2.05em;
}


/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */
.js .main-navigation ul {
  display: none;
}

.main-navigation .menu-item-has-children > a > .icon, .main-navigation .page_item_has_children > a > .icon, .main-navigation ul a > .icon {
  display: none;
}

.main-navigation > div > ul {
  border-top: 1px solid #eee;
}

.js .main-navigation.toggled-on > div > ul {
  display: block;
}

.main-navigation ul ul.toggled-on {
  display: block;
}

.main-navigation ul ul a {
  letter-spacing: 0;
  padding-left: 3em;
  padding-right: 3em;
  position: relative;
  text-transform: none;
}

.main-navigation li li, .main-navigation li:last-child {
  border: 0;
}

/* Menu toggle */
.menu-toggle {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: none;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1em;
  text-shadow: none;
  background: transparent;
}

/* Display the menu toggle when JavaScript is available. */
.js .menu-toggle,
.main-navigation.toggled-on ul.nav-menu {
  display: block;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background: transparent; //overwrite default button styling
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.menu-toggle .icon {
  margin-right: .5em;
  top: -2px;
  right: .5em;
  color: #fff;
  fill: #fff;
}

.menu-toggle .icon * {
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none;
}

.toggled-on .menu-toggle .icon-close {
  display: inline-block;
}

/* Dropdown Toggle */
.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: block;
  font-size: 16px;
  right: .5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: .5em;
  position: absolute;
  text-shadow: none;
  top: 0;
}

.dropdown-toggle:hover {
  background: transparent;
}

.dropdown-toggle:focus {
  background: transparent;
  outline: thin dotted;
}

.dropdown-toggle.toggled-on .icon {
  -ms-transform: rotate(-180deg);
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
}

/* Scroll down arrow */
.site-header .menu-scroll-down {
  display: none;
}
