.jetpack_subscription_widget form {
    flex-direction: column;
}

.jetpack_subscription_widget #subscribe-email {
    width: auto;
    padding-left: 0;
}
.jetpack_subscription_widget #subscribe-submit {
    width: auto;
}

#subscribe-submit {
    flex: 2;
}